.projet {
  width: auto;
  color: pink;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.projet img {
  width: 200px;
  height: 120px;

}

.name {
  text-align: center;
}

.my-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.my-info-details {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.my-info-details div {
  margin-right: 2em;
}
