.liste {
  width: 60%;
}

.liste ul {
  display: flex;
  justify-content: space-evenly;
  margin: 1em;
}

.liste ul li {
  padding: 20px;
  list-style: none;
  width: 100px;
  text-align: center;
}

.active {
  color: white;
  background-color: black;
}

.liste li:hover {
  color: white;
  background-color: black;
  transition: all 0.6s linear;
}

