.liste {
  flex: 2;
}

.biographie p,
.cv p {
  /* max-width : 600px; */
  text-align: justify;
}

.liste ul {
  display: flex;
  justify-content: space-evenly;
  margin: 1em;
}

.liste ul li {
  padding: 20px;
  list-style: none;
  width: 100px;
  text-align: center;
}

.active {
  color: white;
  background-color: black;
}

.liste li:hover {
  color: white;
  background-color: black;
  transition: all 0.6s linear;
}
.cv img {
  width: 150px;
  height: auto;
}
.cv p {
  text-align: center;
}
